# PHPStorm
.idea

# WordPress
*.log
/wp-*.php
/index.php
/xmlrpc.php
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/backup*

wp-admin/
wp-includes/

wp-content/*
!wp-content/themes/
wp-content/themes/*

!wp-content/plugins/
wp-content/plugins/*

!wp-content/themes/nest/

!wp-content/plugins/wt-geotargeting
!wp-content/plugins/meta-box
!wp-content/plugins/kirki
!wp-content/plugins/contact-form-7

# Frontend tools
wp-content/themes/nest/node_modules/